/*
 nav color ->  11 18 31
 card color -> 26 35 50
*/

header{
     background-color: rgb(11, 18, 31)
}

body.dark-mode{
     background-color: rgb(17, 25, 39);
     color: white;
     .icons{
          color: white;
     }
}

.icons{
     color: rgb(17, 25, 39);
}

.nav-link:hover{
     transition: transform 0.5s ease;
     transform: scale(1.05);
}

.fab{
     margin: 0% 0.6% 6% 0.6%;
}

.fab:hover{
     transition: transform 2.5s ease;
     animation: none;
     transform: translateY(-12px);
}


/* Card Enhancements */
.food-category {
    border-radius: 10px;
}

.food-item {
    margin-bottom: 15px;
}

/* Input Field Styling */
input[type="number"] {
    width: 60px;
}

/* Add to Order Button */
button.add-to-order {
    background-color: #ff6600;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button.add-to-order:hover {
    background-color: #e65c00;
}

/* Order Summary Styling */
#order-summary {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
}

#order-items p {
    color: #6c757d;
    text-align: center;
}

#total-price {
    font-size: 1.5rem;
}

/* Place Order Button */
#place-order {
    background-color: #28a745;
    color: white;
    font-size: 1.25rem;
    padding: 10px 0;
    border-radius: 5px;
}

#remove-order {
    background-color: #a72828;
    color: white;
    font-size: 1.25rem;
    padding: 10px 0;
    border-radius: 5px;
}

#watch-order {
    background-color: #2828a7;
    color: white;
    font-size: 1.25rem;
    padding: 10px 0;
    border-radius: 5px;
}

#place-order:hover {
    background-color: #1d7830;
}

#remove-order:hover {
    background-color: #761b1b;
}

#watch-order:hover {
    background-color: #1f1f88;
}